<body class="edit-body">
  <h1>Editing Book</h1>
  <%= form_with model:@book, local:true do |f| %>
  <!--form_with model:インスタンス変数 do ||-->
  <!--Railsは渡されたモデル(@blog)の中身が空であることから、createメソッドを呼び出すことを判断-->
  <!--ここからerror messageの表示-->
  <h2 class="index-head-new">New book</h1>
  <%= form_with model:@book, local:true do |f| %>
  <!--form_with model:インスタンス変数 do ||-->
  <!--Railsは渡されたモデル(@blog)の中身が空であることから、createメソッドを呼び出すことを判断-->
  <% if @book.errors.any? %>
  <!--で全ての属性のうち１つでもエラーがあったかどうかをチェック-->
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>
      <ul>
        <% @book.errors.full_messages.each do |message| %>
        <!--全ての属性に関するエラーメッセージを表示-->
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
    <div class="index-text-box">
      <p>Title</p>
      <%= f.text_field :title %>
      </div>
    <div class="index-text-box">
      <p>Body</p>
      <%= f.text_area :body %>
    </div>
    <div class="index-text-box">
      <p></p>
      <%= f.submit 'Update Book' %>
    </div>
  <% end %>
    <p>
    <%= link_to "Show", book_path(@book.id) %>
    <!--idを持った変数を引数に渡すことで、正しいパスとなる-->
    <span>|</span>
    <%= link_to "Back", books_path %>
    <!--methodをdestroyに変更することで削除でき、一覧画面に戻るpathとなる-->
    <!--destroyアクションを使用して削除機能を実装しているが、使用するHTTPメソッドはdelete-->
    </p>
</body>
<% end %>
