<h1>新規投稿</h1>
<%= form_with model:@blog, local:true do |f| %>
<!--form_with model:インスタンス変数 do ||-->
<!--Railsは渡されたモデル(@blog)の中身が空であることから、createメソッドを呼び出すことを判断-->

  <h4>タイトル</h4>
  <%= f.text_field :title %>
  <!--f.を先頭につける理由は？？？-->
  
  <h4>カテゴリー</h4>
  <%= f.text_field :category %>

  <h4>本文</h4>
  <%= f.text_area :body %>

  <%= f.submit '投稿' %>
  
  <!--フォームオブジェクトをdoとendの間に記載する。f.text_field :title, f.text_area :body など-->

<% end %>